scrum-poker-planning.org {
  @badphp {
    path *.php /php* /php-cgi* /wp-* /manager/* /setup/* /cgi-bin/* /.env
  }
  respond @badphp 404

  encode zstd gzip
  reverse_proxy web:3000
}

www.scrum-poker-planning.org {
  @badphp {
    path *.php /php* /php-cgi* /wp-* /manager/* /setup/* /cgi-bin/* /.env
  }
  respond @badphp 404

  encode zstd gzip
  reverse_proxy web:3000
  
  redir https://scrum-poker-planning.org{uri}
}